.mydiv{
    background-color: papayawhip
    
}
.txtfrm{
    height: 50px;
    width: 250px;
    border-radius: 30px;
    margin: 10px;
}
.btn{
    height: 51px;
    width: 111px;
    border-radius: 10px;
    margin: 10px;
    padding: 0px;

}
.shodiv{
    border: 2px solid red;
   
    background-color: darkkhaki;
    
}
.myshow{
    color: black;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.mep{
    background-color: bisque;
    margin: 30px;
    width: 50vw;
    border: 1px solid black;
}